<!-- {% include 'sitio/cabecera.html'%}

    <---- place navbar 
    <div class="p-5 bg-light">
        <div class="cintainer">
            <h1 class="display-3">Bienvemid@</h1>
            <p class="lead"> Probando url</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a href="Jumbo action link" class="btn btn-primary btn-lg" role="button"></a>
            </p>
            <img src="{{ url_for('static', filename='img/portfolio/08.jpg') }}" class="img-responsive" alt="Project Title">
            {{ sp }}
        </div>
    </div >
{% include 'sitio/pie.html'%} 
--> 